networks:
  backend-net:
    driver: bridge

services:
  api-gateway:
    build: api-gateway
    depends_on:
      - keycloak
      - ms-solicitudes
      - ms-transportes
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - backend-net
    ports:
      - "8080:8080"

  ms-solicitudes:
    build: ms-solicitudes
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: sakila
      DB_USER: postgres
      DB_PASS: 123456
    ports:
      - "8081:8081"
    networks: [backend-net]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  ms-transportes:
    build: ms-transportes
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: sakila
      DB_USER: postgres
      DB_PASS: 123456
    ports:
      - "8082:8082"
    networks: [backend-net]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  keycloak:
    command: start-dev
    image: quay.io/keycloak/keycloak:24.0.3
    env_file:
      - .env
    environment:
      TZ: America/Argentina/Cordoba
    networks:
      - backend-net
    ports:
      - "8083:8080"
    volumes:
      - ./keycloak_data:/opt/keycloak/data

  postgres:
    env_file:
      - .env
    environment:
      TZ: "America/Argentina/Cordoba"
      PGUSER: ${POSTGRES_USER}
      POSTGRES_INITDB_ARGS: "--encoding=UTF8"
    healthcheck:
      interval: 10s
      retries: 10
      test:
        [
          "CMD-SHELL",
          "pg_isready",
          "-U",
          "${POSTGRES_USER}",
          "-d",
          "${POSTGRES_DB}",
        ]
      timeout: 5s
    image: postgres
    networks:
      - backend-net
    restart: always
    volumes:
      - ./data:/docker-entrypoint-initdb.d:ro
      - postgres_data:/var/lib/postgresql

volumes:
  data:
  keycloak_data:
    external: true
  postgres_data:
