

services:

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev
    ports:
      - "8083:8080"
    environment:
      TZ: America/Argentina/Cordoba
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
    networks: [ backend-net ]
    volumes:
      - keycloak_data:/opt/keycloak/data

  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "123456"
      POSTGRES_DB: "sakila"
      TZ: "America/Argentina/Cordoba"
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=C"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initDb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks: [ backend-net ]
    restart: unless-stopped

  ms-solicitudes:
    build: ../ms-solicitudes
    container_name: ms-solicitudes
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: sakila
      DB_USER: postgres
      DB_PASS: 123456
    ports:
      - "8081:8081"
    networks: [ backend-net ]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  ms-transportes:
    build: ../ms-transportes
    container_name: ms-transportes
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: sakila
      DB_USER: postgres
      DB_PASS: 123456
    ports:
      - "8082:8082"
    networks: [ backend-net ]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  api-gateway:
    build: ../ApiGateway
    container_name: api-gateway
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    networks: [ backend-net ]
    depends_on:
      - keycloak
      - ms-solicitudes
      - ms-transportes
    restart: unless-stopped

networks:
  backend-net:
    driver: bridge
    
volumes:
  postgres_data:
  keycloak_data:
